In [1]:

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

In [2]:
 from sklearn.discriminant_analysis import QuadraticDiscriminantAnalysis

In [4]:
test_data = pd.read_csv("test.csv")
train_data= pd.read_csv("train.csv")

In [5]:
train_data.tail()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.00,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.00,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.45,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.00,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.75,NaN,Q

In [6]:
train_data=train_data.drop(["Name","Ticket","Cabin"],axis=1)
train_data["Age"] = train_data["Age"].fillna(train_data["Age"].median())
train_data["Embarked"] = train_data["Embarked"].fillna("C")
from sklearn.preprocessing import LabelEncoder
enc = LabelEncoder()
train_data['Sex'] = enc.fit_transform(train_data['Sex'])
train_data['Embarked'] = enc.fit_transform(train_data['Embarked'])
train_data=train_data.fillna(0)

In [7]:
test_data=test_data.drop(["Name","Ticket","Cabin"],axis=1)
test_data["Age"] = test_data["Age"].fillna(train_data["Age"].median())
test_data["Embarked"] = test_data["Embarked"].fillna("C")
from sklearn.preprocessing import LabelEncoder
enc = LabelEncoder()
test_data['Sex'] = enc.fit_transform(test_data['Sex'])
test_data['Embarked'] = enc.fit_transform(test_data['Embarked'])
test_data=test_data.fillna(0)

In [8]:
to_predict=['Pclass','Sex','Age','SibSp','Parch','Fare','Embarked']
X = train_data[to_predict]
y = train_data.Survived
model = QuadraticDiscriminantAnalysis()
model.fit(X,y)
print(model.score(X, y))
Y_pred = model.predict(test_data[to_predict])

0.8103254769921436

In [9]:
submission = pd.DataFrame({
        "PassengerId": test_data["PassengerId"],
        "Survived": Y_pred
    })
submission.to_csv('titanic.csv', index=False)